body{
    margin: 0;
    background-size: cover;
    background-color: #12f2af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    height: 90%;
    max-width: 70vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.task-area{
    margin-top: 2em;
    border:1px solid lightgray;
}

.task-tabs{
    display: flex;
    border-bottom:1px solid lightgray;
}

.task-tabs div{
    padding: 1em;
}


#under-line{
    position: absolute;
    background-color: #12f2af;
    height: 3px;
    width: 65px;
    top: 168px;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3em;
}

.task-done{
    text-decoration: line-through;
}

.big-title{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.big-title h1{
    margin-left: 5px;
}


#delete-button{
    margin-right: 5px;
}

#calendar{
    width: 50px;
    height: 50px;
}


#add-bttn{
    width: 30px;
    height: 30px;
}